.margin{
	margin-top: 90px;
}

.form-group{
	position: relative;
	float: left;
	width: 100%;
}

.error{
	color: red;
}

.form-signin{
	width: 400px;
	margin: auto;
	padding: 30px;
}

.margin-top{
	margin-top: 10px;
}

#usersSearchResult {
	border: 2px solid #aaa;
	border-radius: 5px;
	background: #fff;
	float: right;
	position: absolute;
	top: 24px;
}

.info{
	padding-left: 0px;
}

.handle{
	margin-top: -10px;
}

.container-home{
	height: 500px;
	overflow: auto;
}