.margin{
	margin-top: 90px;
}

.form-group{
	position: relative;
	float: left;
	width: 100%;
}

.error{
	color: red;
}

.form-signin{
	width: 400px;
	margin: auto;
	padding: 30px;
}

.margin-top{
	margin-top: 10px;
}

#usersSearchResult {
	width: 400px;
	border: 2px solid #aaa;
	border-radius: 5px;
	background: #fff;
	float: right;
	//display: none;
}