<div class='container margin'>
  <form role="form" action="/user/create" method="POST">
    
    <% if(flash && flash.err) { %>
      <div class="error"><h4> Please fill the right details </h4></div>
    <%}%>

    <div class="form-group">
      <label for="firstname" class="col-md-2">
        Name:
      </label>
      <div class="col-md-10">
        <input type="text" class="form-control" name="name" placeholder="Enter Name">
      </div>
    </div>
    <div class="form-group">
      <label for="userid" class="col-md-2">
        User ID:
      </label>
      <div class="col-md-10">
        <input type="text" class="form-control" name="userid" placeholder="Enter User Id">
      </div>
    </div>
    <div class="form-group">
      <label for="emailaddress" class="col-md-2">
        Email address:
      </label>
      <div class="col-md-10">
        <input type="email" class="form-control" name="email" placeholder="Enter email address">
        <p class="help-block">
          Example: yourname@domain.com
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-md-2">
        Password:
      </label>
      <div class="col-md-10">
        <input type="password" class="form-control" name="password" placeholder="Enter Password">
        <p class="help-block">
          Min: 6 characters (Alphanumeric only)
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="sex" class="col-md-2">
        Gender:
      </label>
      <div class="col-md-10">
        <label class="radio">
          <input type="radio" name="sex" id="sex" value="male" checked>
          Male
        </label>
        <label class="radio">
          <input type="radio" name="sex" id="sex" value="female">
          Female
        </label>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <button type="submit" class="btn btn-info">
          Register
        </button>
      </div>
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </div>
  </form>
</div>